.blog-catalogue {
    display: flex;
    border-radius: 10px;
    height: 16rem;
    padding: 2rem;
    background-color: var(--bs-body-bg);
    .catalogue-img {
        background-color: var(--bs-info);
        width: 12.5rem;
        height: 12.5rem;
        margin-right: 2rem;
        border-radius: 10px;
    }

    .date {
        color: var(--bs-light);
        font-weight:500;
    }

    .catalogue-content {
        display:flex;
        flex-direction: column;
        color: var(--bs-dark);
        flex: 1;

        .info {
            flex-grow: 1;
        }

        button {
            display: inline-block;
            align-self: flex-start;
        }
    }
}