// :root {
//   --shadowShift: 2px;
//   --shadowBlur: 15px;
// }

.banner{
	height: 100vh;
	background-color: #121519;
	background-image: url(./img/texture.png);

	.container {
		height: 100vh;
	}


	svg {
		position: absolute;
	}

	#moon {
		max-width: 150px;
		left: 25%;
		top: 66px;
		border-radius: 50%;
		box-shadow: 0 0 10px var(--bs-dark), inset 0 0 10px var(--bs-dark);
		animation: pulse 2s linear 1s infinite;
	}

	#dream {
		width: 25vw;
		right: 80px;
		bottom: 0;
	}

	#stars {
		top: 20px;
	}
}

// @keyframes pulse {
// 	0% {
// 		box-shadow: 0 0 10px var(--bs-dark), inset 0 0 10px var(--bs-dark);
// 	}

// 	50% {
// 		box-shadow: 0 0 14px var(--bs-dark), inset 0 0 12px var(--bs-dark);
// 	}

// 	100% {
// 		box-shadow: 0 0 10px var(--bs-dark), inset 0 0 10px var(--bs-dark);
// 	}
// }

// @keyframes ripple {
//   0% {
//     top: 0;
//     left: 0;
//     width: 0;
//     height: 0;
//     opacity: 1;
//   }

//   100% {
//     top: 0;
//     left: 0;
//     width: 80px;
//     height: 80px;
//     opacity: 0;
//   }
// }