.shuffler {
    position: relative;
    margin-top: calc(-0.5 * var(--bs-gutter-x));
    margin-right: calc(-.25 * var(--bs-gutter-x));
    margin-left: calc(-.25 * var(--bs-gutter-x));

    .shuffle-item {
        position: absolute;
        padding-right: calc(var(--bs-gutter-x) * .25);
        padding-left: calc(var(--bs-gutter-x) * .25);
        padding-top: calc(0.5 * var(--bs-gutter-x));
    }

    .shuffle-content {
        position: relative;
        background-color: rgba($color: #000000, $alpha: .4);
        width: 100%;
        height: 100%;
        color: var(--bs-white);
        overflow: hidden;

        .title {
            padding-top: 20px;
            transform: translate3d(0, -20px, 0);
            transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        }


        .description {
            font-size: 0.68rem;
            line-height: 1;
            letter-spacing: 1px;
            text-align: left;
            opacity: 0;
            transform: translate3d(0, 30px, 0);
            transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .enter {
            position: absolute;
            display: inline-block;
            top: -25%;
            right: 0;
            transform: rotate(180deg);
            transition: all 0.6s linear;
            
        }

        &.active {
            .title {
                transform: translate3d(0, 0, 0);
            }

            .description {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }

            .enter {
                top: calc(-0.5 * var(--bs-gutter-x));
                transform: translate(100%, 100%) rotate(0deg);
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}