.triangle-svg {
    position: relative;
    top: 0;
    transform-origin: 50% 65%;
    background: transparent;
    
    polygon {
        stroke-dasharray: 2 2 32 2 2;
        animation: dash 6s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
    }

    .st0{
        fill:#FFFFFF;
        fill-opacity:0.5;
        stroke:#333333;
        stroke-width:1;
        stroke-miterlimit:10.2564;
    }
	.st1{fill:none;}
	.st2{fill:#333333;}
	text{
        font-family:'SegoeUI-Bold';
	    font-size:12px;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 142;
    }
}