.blog-menu {
    color: #fff;
    height: 100%;
    background: #212529;

    .item {
        cursor: pointer;
        font-size: 0.75rem;
        padding: 0.4rem 0.5rem;

        &:hover {
            background: #1a1d20;
        }
    }
}