footer {
    a {
        text-decoration: none;
        color: #f8f9fa;
    }
    .socials {
        padding: 1rem 0;
        nav{
            display: flex
        }
        a {
            padding: 6px;
            margin: 0 0.5rem;
        }
    }

    .site-navigation {
        a {
            margin: 0 0.5rem;
        }
    }
    .bottom {
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }
}

@media screen and (max-width: 600px) {
    h3{
        font-size: 2rem;
    }
}